DevOps/Easy MSI Creator with Actions/Example/client/calctest/Service References/ServiceReference1/DE10BAE6-FC43-3BA6-A05B-6D652FB2ACE7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/DE10BAE6-FC43-3BA6-A05B-6D652FB2ACE7" elementFormDefault="qualified" targetNamespace="http://tempuri.org/DE10BAE6-FC43-3BA6-A05B-6D652FB2ACE7" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="op1" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="op2" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>